[submodule "proxyfarm"]
	path = proxyfarm
	url = https://github.com/clemmy/proxyfarm.git
[submodule "proxy-verify"]
	path = proxy-verify
	url = https://github.com/lifeofcoding/proxy-verify.git
[submodule "node-cpulimit"]
	path = node-cpulimit
	url = https://github.com/vangelov/node-cpulimit.git
[submodule "ProxyBroker"]
        path = ProxyBroker
        url = https://github.com/lifeofcoding/ProxyBroker.git
[submodule "song-matcher"]
	path = song-matcher
	url = https://github.com/briankeane/youtube-song-matcher.git
[submodule "song-search"]
	path = song-search
	url = https://github.com/benkaiser/song-search.git
