.flexContainer {
		display: flex;
		justify-content: space-around;
		background: #00000080;
}

.flexContainer > div {
  padding: 10px;
}

.wrapper {
  margin-bottom: 50px;
  width: 100%;
  max-width: 900px;
  position: relative;
  overflow: hidden;

  padding: 50px;
}

.related {
  cursor: pointer;
  float: left;
  width: 80px;
  height: 80px;
}

.background {
  position: absolute;
  opacity: 0.15;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  margin-top: -20vh;
 height: 100vh;
}
